<div class="container">

  <form novalidate [formGroup]="registrationForm" class="form">
    <mat-horizontal-stepper linear formArrayName="formArray">
      <!-- form stage 1-->
      <mat-step  formGroupName="0" label="Как вас зовут" [stepControl]="formArray?.get([0])!"  >
        <div>
          <p>
            <mat-form-field>
              <mat-label>Имя</mat-label>
              <input formControlName="name" matInput placeholder="Сергей" type="text">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <mat-label>Фамилия</mat-label>
              <input formControlName="surname" matInput placeholder="Сергеев" type="text">
            </mat-form-field>
          </p>
          <button mat-raised-button matStepperNext>Далее</button>
        </div>
      </mat-step>

      <!--form stage 2-->
      <mat-step formGroupName="1" label="Личные данные" [stepControl]="formArray?.get([1])!">
        <div>
          <!--email-->
          <p>
             <mat-form-field>
               <mat-label>Почта</mat-label>
               <input formControlName="email" matInput placeholder="mail@mail.ru">
             </mat-form-field>
          </p>
          <!--Phone-->
          <p>
            <mat-form-field>
              <mat-label>Номер телефона</mat-label>
              <input formControlName="phone" matInput>
            </mat-form-field>
          </p>
          <!--Map start-->
          <p>
            <mat-form-field>
              <mat-label>Адрес</mat-label>
              <input formControlName="address" matInput (click)="openMap()" type="text">
            </mat-form-field>
          </p>
          <!--Map ends -->

          <!--date picker-->
          <p>
             <mat-form-field>
               <mat-label>Выберете дату и время </mat-label>
               <input matInput formControlName="date"  type="datetime-local">
             </mat-form-field>
          </p>

        </div>

        <div class="buttons">
          <button mat-raised-button matStepperPrevious>Назад</button>
          <button mat-raised-button matStepperNext>Далее</button>
        </div>

      </mat-step>

      <!--form stage 3-->
      <mat-step  formGroupName="2" [stepControl]="formArray?.get([2])!" label="Согласие на обработку">
        <div>
          <p>
            <mat-checkbox formControlName="agree">Подтверждаю согласие на обработку персональных данных</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="mailing">Оповещать, если по данному адресу найдены происшествия</mat-checkbox>
          </p>
        </div>
        <div class="buttons" >
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-raised-button (click)="sendForm()" [disabled]="registrationForm.invalid">Отправить</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </form>
</div>

