.container{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  padding: 30px;
}

.buttons{
  align-items: center;
  justify-content: center;
}

button{
  margin: 20px;
}

p{
margin-left: 40px;
}
